.card > div {
  padding: 0;
  width: 17rem;
  display: flex;
  align-items: center;
  gap: 1.4rem;
  box-shadow: none;
}

//  scrool
/* width */
::-webkit-scrollbar {
  height:0px;
  width: 0;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px #cccccc; 
  border-radius: 5px;
  background-color: #FFFFFF;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #8448B2; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7f26c4; 
}